/* Your custom css code goes here */
.navbar-blue {
    background-color: #2966d4;
    border-color: #2966d4;
}

/* Thay đổi màu văn bản của các mục menu điều hướng thành màu trắng */
.navbar-nav > li > a {
    color: white !important;
}

/* Thay đổi màu nền và màu văn bản của menu thả xuống */
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li.dropdown-submenu > a:hover,
.navbar-nav > li.dropdown-submenu > a:focus {
    background-color: #2966d4 !important; /* Màu nền xanh nước biển */
    color: white !important; /* Màu văn bản trắng */
}

/* Đảm bảo màu nền và màu văn bản của các mục trong menu thả xuống */
.dropdown-menu {
    background-color: #2966d4 !important; /* Màu nền xanh nước biển */
    border: none; /* Loại bỏ viền mặc định */
}

.dropdown-menu > li > a {
    color: white !important; /* Màu văn bản trắng */
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #2966d4 !important; /* Giữ màu nền xanh nước biển khi hover */
    color: white !important; /* Màu văn bản trắng khi hover */
}

.overlay-right {
    background-position: right;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh; 
}

.probootstrap-slider-text {
    padding-right: 20px; 
}

.image-bg img {
    width: 100%;
    height: auto;
    display: block;
}
.probootstrap-service-2 {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.probootstrap-service-2 .text {
    padding: 15px 0;
}

.status-success {
    background-color: green;
    color: white;
}

.status-failed {
    background-color: red;
    color: white;
}


.text-bg-success {
    background-color: #76ff7a; 
    color: #ffffff; 
}

.text-bg-danger {
    background-color: #ff9999 ; 
    color: #ffffff; 
}

.table .status-column {
    max-width: 150px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}

.table td.status-column {
    border: 1px solid #dee2e6; 
    padding: 8px; 
    text-align: center; 
}

.badge {
    border-radius: 0.25rem; 
    padding: 0.5rem 0.75rem; 
    font-size: 0.875rem; 
}

#book_status option[value="available"] {
    color: #76ff7a; 
}

#book_status option[value="lost"] {
    color: #ff9999; 
}


#flash-message {
    transition: opacity 0.5s ease-in-out;
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 100px auto;
}

.search-input {
    padding-left: 40px;
    border: none;
    border-bottom: 2px solid #6c757d;
    width: 100%;
    outline: none;
    background-color: #212529;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    display: none; /* Hidden by default */
}

.search-input.active {
    display: block; /* Show input when active */
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #6c757d;
    cursor: pointer;
}

.search-input:focus {
    border-color: red;
}

.search-keyboard-shortcuts {
    font-size: 12px;
    display: none;
    justify-content: space-between;
    margin-top: 10px;
    color: #adb5bd;
}

.search-keyboard-shortcuts.active {
    display: flex; /* Show shortcuts when active */
}

.keyboard-key {
    background-color: #343a40;
    border: 1px solid #6c757d;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 12px;
    color: #adb5bd;
}

.custom-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
}

#pdf-canvas {
    width: 100%;
    max-width: 100%;
    height: auto;
}